@model DIDemo2.Models.Employee
<form asp-action="AddEmployee" asp-controller="Employee">
    <h1>Add Products</h1>
   
    <br />
    <label asp-for="Name"></label>
    <br />
    <input asp-for="Name" type="text" />
    <br />
    <label asp-for="Department"></label>
    <br />
    <input asp-for="Department" type="text" />
    <br />
    <label asp-for="Salary"></label>
    <br />
    <input asp-for="Salary" type="text" />
    <br />



    <br />
    <input type="submit" value="Insert" />

    <br />

</form>
@if (ViewBag.msg != null)
{
    <h2>@ViewBag.msg</h2>
    <br />
    <a asp-action="AllEmployess" asp-controller="Employee">Back</a>

}
